@import "../../styles/variables";

.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  padding: 1rem;
  background-color: $dark-color;
  display: flex;
  align-items: center;
}

.sidebar {
  z-index: 1200;
  color: $dark-color;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 33vw;
  top: 0;
  background-color: $light-color;
  bottom: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 2rem;

  .sideTop {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3em;
    }
    svg {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      font-size: 20px;
    }
  }

  .link {
    display: block;
    text-decoration: none;
    margin: 25px 0 50px;
    width: 100%;
    height: 75px;
    line-height: 75px;
    border: 1px solid #b8b4b2;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    overflow: hidden;
  }

  .linkText {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: #231f20;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .link:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #231f20;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    top: 75px;
    left: 0;
  }

  .link:hover:before {
    top: 0;
  }

  .link:hover .linkText {
    color: $light-color;
  }
}
